# Exercise 1

In this activity, you will work with the New York City Airbnb Open Data—a popular, messy, and highly realistic dataset used by data analysts and data scientists around the world. The dataset includes thousands of Airbnb listings along with details about hosts, locations, prices, reviews, and more.

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8Pmq3Gv7y7z_2Xun-OqMIk43kd5u0TXEatw&s"/>


To guide your work, you will follow the 6-Step Data Wrangling Process, a professional workflow used in industry:

- Discovering. Become familiar with the data by exploring its structure and observing patterns.

- Structuring. Fix issues related to format, column types, indices, and duplicated records.

- Cleaning. Handle missing values, outliers, and inconsistencies so the dataset becomes trustworthy.

- Enriching. Add new features, aggregate information, and enhance the dataset for deeper insights.

- Validating. Apply rule-based checks to ensure the data meets quality standards.

- Publishing. Export and prepare the cleaned dataset for downstream analysis or reporting.
Throughout this exercise, you will answer questions and fill in code cells based on these six steps. You will mimic what professional data scientists do when preparing data for business intelligence dashboards, machine learning models, or exploratory analysis.

In [159]:
import kagglehub
import os
import pandas as pd
import numpy as np

# Download latest version
path = kagglehub.dataset_download("dgomonov/new-york-city-airbnb-open-data")

print("Path to dataset files:", path)

if os.path.isdir(path):
  print(True)

contents = os.listdir(path)
contents

mydataset = path + "/" + contents[0]
mydataset


df = pd.read_csv(mydataset)

Using Colab cache for faster access to the 'new-york-city-airbnb-open-data' dataset.
Path to dataset files: /kaggle/input/new-york-city-airbnb-open-data
True

## A. Discovering

Display the first 10 rows

In [160]:
df.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188

Display the column names:

In [161]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

Display the dataframe shape:

In [162]:
df.shape

(48895, 16)

Identify the numerical features:

In [163]:
numerical_features = df.select_dtypes(include=np.number).columns
print(numerical_features)

Index(['id', 'host_id', 'latitude', 'longitude', 'price', 'minimum_nights',
       'number_of_reviews', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365'],
      dtype='object')

Identify the categorical features

In [164]:
categorical_features = df.select_dtypes(exclude=np.number).columns
print(categorical_features)

Index(['name', 'host_name', 'neighbourhood_group', 'neighbourhood',
       'room_type', 'last_review'],
      dtype='object')

What are the top 5 questions this dataset might help answer?

In [165]:
1. How do New York City Airbnb prices vary across neighbourhood groups?
2. Which room type tends to be the most expensive or cheapest?
3. Are entire apartments more frequently booked than private rooms??
4. What neighbourhoods have the highest density of active listings?
5. What characteristics are most common among low-priced vs. high-priced listings?

Object `groups` not found.
Object `cheapest` not found.
Object `rooms` not found.
Object `listings` not found.
Object `listings` not found.

## B. Structuring

Check if the dataset has proper column types

In [166]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

Check if the dataset has index issues

In [167]:
print(f"Is the index unique? {df.index.is_unique}")
print(f"Is the index a default RangeIndex? {isinstance(df.index, pd.RangeIndex)}")

Is the index unique? True
Is the index a default RangeIndex? True

Check if the dataset has duplicated rows

In [168]:
print(f"Number of duplicated rows: {df.duplicated().sum()}")

Number of duplicated rows: 0

Convert columns to correct types (e.g., dates → datetime).

In [169]:
df['last_review'] = pd.to_datetime(df['last_review'])

Identify at least one structural issue and describe how to fix it.

In [170]:
# Structural Issue: Categorical columns ('neighbourhood_group', 'neighbourhood', 'room_type') are stored as 'object' (string) types.
# This can be inefficient in terms of memory usage and certain operations.

# Fix: Convert these columns to the 'category' data type.
# This improves memory efficiency and can speed up operations like filtering and group-by.

for col in ['neighbourhood_group', 'neighbourhood', 'room_type']:
    df[col] = df[col].astype('category')

print("Converted 'neighbourhood_group', 'neighbourhood', and 'room_type' to category type.")
# Display info again to confirm changes
df.info()

Converted 'neighbourhood_group', 'neighbourhood', and 'room_type' to category type.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  category
 5   neighbourhood                   48895 non-null  category
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  category
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  datetime64[ns]
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: category(3), datetime64[ns](1), float64(3), int64(7), object(2)
memory usage: 5.0+ MB

## C. Cleaning

Check for missing values

In [171]:
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

Check for outliers in `minimum_nights`

In [172]:
df['minimum_nights'].describe()

count    48895.000000
mean         7.029962
std         20.510550
min          1.000000
25%          1.000000
50%          3.000000
75%          5.000000
max       1250.000000
Name: minimum_nights, dtype: float64

Check for invalid values (e.g., price ≤ 0)

In [173]:
invalid_prices = df[df['price'] <= 0]
print(f"Number of listings with invalid price (price <= 0): {len(invalid_prices)}")
if not invalid_prices.empty:
    print("Sample of listings with invalid price:")
    print(invalid_prices.head())

Number of listings with invalid price (price <= 0): 11
Sample of listings with invalid price:
             id                                               name    host_id  \
23161  18750597  Huge Brooklyn Brownstone Living, Close to it all.    8993084
25433  20333471      ★Hostel Style Room | Ideal Traveling Buddies★  131697576
25634  20523843    MARTIAL LOFT 3: REDEMPTION (upstairs, 2nd room)   15787004
25753  20608117                    Sunny, Quiet Room in Greenpoint    1641537
25778  20624541      Modern apartment in the heart of Williamsburg   10132166

          host_name neighbourhood_group       neighbourhood  latitude  \
23161      Kimberly            Brooklyn  Bedford-Stuyvesant  40.69023
25433        Anisha               Bronx     East Morrisania  40.83296
25634  Martial Loft            Brooklyn            Bushwick  40.69467
25753        Lauren            Brooklyn          Greenpoint  40.72462
25778       Aymeric            Brooklyn        Williamsburg  40.70838

       longitude        room_type  price  minimum_nights  number_of_reviews  \
23161  -73.95428     Private room      0               4                  1
25433  -73.88668     Private room      0               2                 55
25634  -73.92433     Private room      0               2                 16
25753  -73.94072     Private room      0               2                 12
25778  -73.94645  Entire home/apt      0               5                  3

      last_review  reviews_per_month  calculated_host_listings_count  \
23161  2018-01-06               0.05                               4
25433  2019-06-24               2.56                               4
25634  2019-05-18               0.71                               5
25753  2017-10-27               0.53                               2
25778  2018-01-02               0.15                               1

       availability_365
23161                28
25433               127
25634                 0
25753                 0
25778                73

Apply a missing-value strategy (drop, fill, or flag)

In [174]:
# Fill missing 'name' and 'host_name' with 'Unknown'
df['name'] = df['name'].fillna('Unknown')
df['host_name'] = df['host_name'].fillna('Unknown')

# Fill missing 'reviews_per_month' with 0
df['reviews_per_month'] = df['reviews_per_month'].fillna(0)

# 'last_review' missing values will be left as NaT, which is the default for unreviewed listings after conversion to datetime type.
# This indicates that the listing has not yet received a review.

print("Missing values handled for 'name', 'host_name', and 'reviews_per_month'.")
print("Current missing values after strategy:")
print(df.isnull().sum())

Missing values handled for 'name', 'host_name', and 'reviews_per_month'.
Current missing values after strategy:
id                                    0
name                                  0
host_id                               0
host_name                             0
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                     0
calculated_host_listings_count        0
availability_365                      0
dtype: int64

Apply an outlier-handling strategy

In [175]:
# Based on the descriptive statistics for 'minimum_nights', we observed a max value of 1250, which is a clear outlier.
# A reasonable approach is to cap or clip these extreme values to a more realistic upper bound.
# define an upper bound, for example, the 99th percentile or a fixed reasonable number like 365 (one year).

# Cap at 99th percentile
upper_bound_min_nights = df['minimum_nights'].quantile(0.99)
df['minimum_nights'] = np.where(df['minimum_nights'] > upper_bound_min_nights,
                                upper_bound_min_nights, df['minimum_nights'])

print(f"'minimum_nights' outliers capped at the 99th percentile: {upper_bound_min_nights}")
print("Descriptive statistics after outlier handling for 'minimum_nights':")
print(df['minimum_nights'].describe())

'minimum_nights' outliers capped at the 99th percentile: 45.0
Descriptive statistics after outlier handling for 'minimum_nights':
count    48895.000000
mean         6.116760
std          9.244957
min          1.000000
25%          1.000000
50%          3.000000
75%          5.000000
max         45.000000
Name: minimum_nights, dtype: float64

## D. Enriching

Create at least 3 new variables:
- price_per_minimum_night
- review_rate_per_month (combine ratings + frequency)
- is_expensive (boolean flag based on price threshold)

In [176]:
# 1. Create 'price_per_minimum_night'
df['price_per_minimum_night'] = df['price'] / df['minimum_nights']

# 2. Create 'review_rate_per_month' (combining existing reviews_per_month with number_of_reviews)
df['review_rate_per_month'] = df['reviews_per_month'] * df['number_of_reviews']

# 3. Create 'is_expensive' (boolean flag based on price threshold)
# Let's define 'expensive' as above the 75th percentile of price.
price_99th_percentile = df['price'].quantile(0.99)
df['is_expensive'] = (df['price'] > price_99th_percentile)

print(f"New features created: 'price_per_minimum_night', 'review_rate_per_month', 'is_expensive'.")
print(f"'is_expensive' threshold (75th percentile of price): {price_99th_percentile}")
print(df[['price', 'minimum_nights', 'price_per_minimum_night', 'reviews_per_month', 'number_of_reviews', 'review_rate_per_month', 'is_expensive']].head())

New features created: 'price_per_minimum_night', 'review_rate_per_month', 'is_expensive'.
'is_expensive' threshold (75th percentile of price): 799.0
   price  minimum_nights  price_per_minimum_night  reviews_per_month  \
0    149             1.0                    149.0               0.21
1    225             1.0                    225.0               0.38
2    150             3.0                     50.0               0.00
3     89             1.0                     89.0               4.64
4     80            10.0                      8.0               0.10

   number_of_reviews  review_rate_per_month  is_expensive
0                  9                   1.89         False
1                 45                  17.10         False
2                  0                   0.00         False
3                270                1252.80         False
4                  9                   0.90         False

Create 1 aggregated summary table

(e.g. average price per neighborhood number of hosts per borough)

In [177]:
average_price_per_neighbourhood_group = df.groupby('neighbourhood_group', observed=True)['price'].mean().reset_index()
print("Average price per neighbourhood group:")
print(average_price_per_neighbourhood_group)

Average price per neighbourhood group:
  neighbourhood_group       price
0               Bronx   87.496792
1            Brooklyn  124.383207
2           Manhattan  196.875814
3              Queens   99.517649
4       Staten Island  114.812332

## E. Validating

Create at least 3 validation checks
- Price must be positive.
- Host ID should not be null.
- Minimum nights must be ≥ 1.
- Generate a validation report:
- Count of rows violating each rule.

Decide if invalid rows (if any) should be removed or corrected?

In [178]:
# 1. Price must be positive.
rule_price_positive = df['price'] > 0
violations_price_positive = df[~rule_price_positive]

# 2. Host ID should not be null. (We filled host_name missing values with 'Unknown', host_id is never null from df.info())
rule_host_id_not_null = df['host_id'].notnull()
violations_host_id_not_null = df[~rule_host_id_not_null]

# 3. Minimum nights must be >= 1.
rule_min_nights_ge_1 = df['minimum_nights'] >= 1
violations_min_nights_ge_1 = df[~rule_min_nights_ge_1]

# Generate a validation report
validation_report = pd.DataFrame({
    'Rule': [
        'Price must be positive',
        'Host ID should not be null',
        'Minimum nights must be >= 1'
    ],
    'Violations Count': [
        len(violations_price_positive),
        len(violations_host_id_not_null),
        len(violations_min_nights_ge_1)
    ]
})

print("--- Validation Report ---")
print(validation_report)
print("\n--- Decision on Invalid Rows ---")

# Decision: How to handle invalid rows?
# For 'Price must be positive': These are truly invalid entries (0 price makes no sense for a rental).
# It's best to remove them as they represent corrupted data or special cases that are not part of regular listings.
# For 'Host ID should not be null': As checked, there are no violations, so no action needed.
# For 'Minimum nights must be >= 1': As checked, there are no violations after capping outliers, so no action needed.

if not violations_price_positive.empty:
    print(f"\n{len(violations_price_positive)} rows violate 'Price must be positive'. These rows will be removed.")
    df = df[rule_price_positive]
else:
    print("No violations found for 'Price must be positive'.")

print("\nDataFrame shape after handling invalid rows:")
print(df.shape)

--- Validation Report ---
                          Rule  Violations Count
0       Price must be positive                11
1   Host ID should not be null                 0
2  Minimum nights must be >= 1                 0

--- Decision on Invalid Rows ---

11 rows violate 'Price must be positive'. These rows will be removed.

DataFrame shape after handling invalid rows:
(48884, 19)

## F. Publishing

Select final columns for publication.

In [179]:
# Select the columns that are relevant for downstream analysis or reporting
final_columns = [
    'id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
    'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
    'minimum_nights', 'number_of_reviews', 'last_review',
    'reviews_per_month', 'calculated_host_listings_count',
    'availability_365', 'price_per_minimum_night',
    'review_rate_per_month', 'is_expensive'
]

df_final = df[final_columns].copy()

print("Final columns selected for publication.")
print(df_final.head())

Final columns selected for publication.
     id                                              name  host_id  \
0  2539                Clean & quiet apt home by the park     2787
1  2595                             Skylit Midtown Castle     2845
2  3647               THE VILLAGE OF HARLEM....NEW YORK !     4632
3  3831                   Cozy Entire Floor of Brownstone     4869
4  5022  Entire Apt: Spacious Studio/Loft by central park     7192

     host_name neighbourhood_group neighbourhood  latitude  longitude  \
0         John            Brooklyn    Kensington  40.64749  -73.97237
1     Jennifer           Manhattan       Midtown  40.75362  -73.98377
2    Elisabeth           Manhattan        Harlem  40.80902  -73.94190
3  LisaRoxanne            Brooklyn  Clinton Hill  40.68514  -73.95976
4        Laura           Manhattan   East Harlem  40.79851  -73.94399

         room_type  price  minimum_nights  number_of_reviews last_review  \
0     Private room    149             1.0                  9  2018-10-19
1  Entire home/apt    225             1.0                 45  2019-05-21
2     Private room    150             3.0                  0         NaT
3  Entire home/apt     89             1.0                270  2019-07-05
4  Entire home/apt     80            10.0                  9  2018-11-19

   reviews_per_month  calculated_host_listings_count  availability_365  \
0               0.21                               6               365
1               0.38                               2               355
2               0.00                               1               365
3               4.64                               1               194
4               0.10                               1                 0

   price_per_minimum_night  review_rate_per_month  is_expensive
0                    149.0                   1.89         False
1                    225.0                  17.10         False
2                     50.0                   0.00         False
3                     89.0                1252.80         False
4                      8.0                   0.90         False

Export cleaned dataset as "cleaned_airbnb.csv"

In [180]:
df_final.to_csv('cleaned_airbnb.csv', index=False)
print("Cleaned dataset exported to 'cleaned_airbnb.csv'")

Cleaned dataset exported to 'cleaned_airbnb.csv'

Export summary reports (e.g., validation or aggregations) as CSV.

In [181]:
validation_report.to_csv('validation_report.csv', index=False)
print("Validation report exported to 'validation_report.csv'")

average_price_per_neighbourhood_group.to_csv('average_price_per_neighbourhood_group.csv', index=False)
print("Average price per neighbourhood group report exported to 'average_price_per_neighbourhood_group.csv'")

Validation report exported to 'validation_report.csv'
Average price per neighbourhood group report exported to 'average_price_per_neighbourhood_group.csv'